:root {
    --colorBaseBlanco: #ffffff;
    --colorBaseNegro: #000000;
    --colorBaseGris: #c4c4c4;
    --colorFondo: #306eff;
    --colorFondoClaro: #7aa2ff;
    --colorFondoLight: #ccdbfe;
    --colorContraste: #ff6e30;
    --colorContrasteClaro: #ffa27a;
    --colorContrasteLight: #fedbcc;
    font-family: 'Montserrat', sans-serif;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colorPrimario);
    text-align: center;
    color: var(--colorOscuro);
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 3.2rem;
}

.version2-h3{
    font-size: 2.4rem;
    font-family: 'PT', serif;

}

p {
    font-size: 1.6rem;
}

/*Utilidades*/
.button {
    border: none;
    border-radius: 0.8rem;
    padding: 1.6rem;
    font-weight: bold;
    height: 50px;
    font-size: 1.6rem;
}

.button__action {
    background-color: var(--colorContraste);
    color: var(--colorBaseBlanco);
}

.button__primario {
    background-color: var(--colorContrasteClaro);
    color: var(--colorBaseBlanco);
    text-decoration: none;
}

.button__primario--invertido {
    background-color: var(--colorBaseBlanco);
    color: var(--colorContrasteClaro);
    border-color: var(--colorContrasteClaro);
    border: solid 1px;
}

.button__secundario {
    background-color: var(--colorFondo);
    color: var(--colorBaseBlanco);
}

.button__secundario--invertido {
    background-color: var(--colorBaseBlanco);
    color: var(--colorFondo);
}

.button__hero {
    width: 30rem;
}


/*Header*/
.header {
    background-color: var(--colorFondoClaro);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9.6rem;
}

.nav__menu ul{
    display: flex;
}

.nav__menu li{
    list-style: none;
    padding: 0 1.2rem;
}

.nav__menu a{
    text-decoration: none;
}


/*Main*/
.main__hero {
    background-color: var(--colorFondoLight);
    padding: 9.6rem;
    display: flex;
    justify-content: space-evenly;
}

.main__hero--texto {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 60rem;
    height: 60rem;
    align-items: flex-end;
}

.main__hero--textoResaltado {
    color: var(--colorFondoClaro);
}

.main__hero--imagen {
    width: 60rem;
    height: 60rem;
}

.main__hero--h3 {
    color: var(--colorFondo);
}

.main__hero--search{
    background-color: var(--colorFondoLight);
    padding: 4.5rem 10.6rem 0 10.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--colorBaseNegro);
    text-align: left;
}

.main__hero--searchDetail {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.main__hero--searchDetail label {
    padding: 0 0 .5rem 0;
    font-size: 1.6rem;
}

.main__hero--searchDetail input {
    height: 2.4rem;
}

.main__hero--searchDetail:nth-child(1) {
    grid-column: 1 / 3;
}

.main__hero--searchDetail:nth-child(2) {
    padding: 1rem 1rem 1rem 0;
}

.main__hero--button {
    background-color: var(--colorFondoLight);
    padding: 2rem 0 3.9rem 0 ;
}

.main__hero2 {
    background-color: var(--colorBaseBlanco);
    padding: 4.8rem 9.6rem;
    display: flex;
    justify-content: space-evenly;    
}

.main__hero2--entradas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.main__hero2--tarjetasEntradas {
    display: flex;
    justify-content: space-between;
}

.main__hero2--tarjetasEntradasDetalle {
    padding: 0 2.4rem 0 0;
}

.tarjeta__title{
    font-size: 1.6rem;
}

.tarjeta__description {
    font-size: 1.2rem;
}

.main__hero3 {
    background-color: var(--colorBaseBlanco);
    padding: 4.8rem 9.6rem;
}

/*Form*/
.form {
    padding: 1rem;
    font-size: 1.6rem;
    display: grid;
    justify-content: center;
}

fieldset {
    border: none;
}

.form input {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.textarea {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    margin: 1rem;
    resize: none;
}

.form select {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    min-width: 40rem;
    height: 5rem;
}

.form__inputs--check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#conditions {
    height: 15px;
    width: 15px;
}

/*Tarjetas*/
.contenedor-tarjetas{
    display:flex;
    justify-content: space-around;
    padding: 9.6rem;
    align-items: center
}

.contenedor-imagen {
    display:inline-block;
    position:relative;
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    justify-content: center;
}

.contenedor-imagen img {
    max-width: 100%;
    max-height: 100%;
   }

.bono-ofertas {
    padding:4.8rem;
} 

.bono{
    padding: 1.6rem;
}

/*Página 404*/
.contenedor-404{
    display:flex;
    padding: 9.6rem;
}

.contenedor-mensaje404{
    margin-top:16rem;
    margin-left:2.4rem;
    text-align: right;
}

.mensaje-404{
    margin-bottom: 4rem;
}

.contenedor-imagen-robot {
    margin-right: 2.4rem;
   }


/*Footer*/
.footer {
    background-color: var(--colorFondoClaro);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    padding: 2rem 9.6rem;
    margin-top: 4rem;
}

.footer h3 {
    text-transform: uppercase;
}

.footer__element {
    text-align: left;
}

.footer__element a {
    text-decoration: none;
}

.copyright {
    background-color: var(--colorFondoClaro);
}

.copyright p{
    margin: 0;
    padding: 1.5rem 0;
}

.rrss{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rrss img{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 1rem 0;
}

.footer__element--title {
    font-size: 1.2rem;
}

.contenedor_tarjeta-terapias{
 display: flex;
 flex-wrap: wrap;
}

.img_terapias{
width:383px;
height:322px;
}
